<div>
  <footer
    class="
      d-flex
      flex-wrap
      justify-content-between
      align-items-center
      py-3
      border-top
      bg-dark
    "
  >
    <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>

    <a href="/" class="nav-link px-2 text-muted">Marc Medrano</a>
  </footer>
</div>
