<!DOCTYPE html> 
<html lang="en">
  <head> <%-include('../models/head.ejs') %> </head>
  <body>
    <!-- NAVIGATION -->
    <header> <%-include('../models/header.ejs') %> </header>

    <!-- MAIN CONTENT -->
    <div class="main-page">
      <div class="container txt-example">
        <h1>You Are Also Logged In</h1>
      </div>
    </div>

    <!-- FOOTER -->
    <footer> <%-include('../models/footer.ejs') %> </footer>
  </body>
</html>
